<plugin name='tooltip' version='0.4' grailsVersion='1.0 &gt; 1.1.1'>
  <author>Sven Lange</author>
  <authorEmail>sv3n.lange@gmail.com</authorEmail>
  <title>Tooltip Plugin</title>
  <description>Lightweight tooltip plugin.</description>
  <documentation>http://grails.org/Tooltip+Plugin</documentation>
  <resources>
    <resource>TooltipPluginTagLib</resource>
  </resources>
  <dependencies />
</plugin>