<plugin name='tooltip' version='0.7-SNAPSHOT' grailsVersion='1.2.1 &gt; *'>
  <author>Sven Lange</author>
  <authorEmail>sv3n.lange@gmail.com</authorEmail>
  <title>Tooltip Plugin</title>
  <description>This plugin provides a lightweight and lightning fast tooltip that is very easy to use.</description>
  <documentation>http://grails.org/plugin/tooltip</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.tooltip.TooltipPluginTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>